@import url('../style.css');

#header.page-equipe{
	background-image: url("../../images/background-equipe.jpg");
}

#team{
	background-color: rgb(243, 240, 231);
}

#team .pessoas{
	margin:60px auto;
}

#team .img-box-round{
	width: 120px;
	height: 120px;
	border:2px solid rgb(84,209,84);
}

#team .row:first-child{
	padding-bottom: 50px;
}

#team .img-box-label:before{
	display: none;	
}

.team-member{
	position: relative;
}

.team-member:hover .description{
	display: block;		
}

.team-member .description{
	display: none;
	color: white;
	border:5px solid rgba(0,0,0,.3);
	background-color: rgba(0,0,0,.5);
	position: absolute;
	top:50%;
	left: 50%;
	z-index: 10;
	width: 400px;
}

.team-member:nth-child(4) .description,.team-member:nth-child(5) .description{
	top:auto;
	left: auto;
	top:50%;
	right: 50%;
}
