@import url('../style.css');

#header.page-home{
	background-image: url("../../images/background-header.jpg");
}

#how-it-work .col{
	padding-bottom: 50px;
}

#customers{	
	background: rgb(242,242,242);
}

#customers .container{
	margin-top:-50px;
	max-width: 1000px;
}

#customers .clients{
	margin-bottom: 20px;
    margin-top: 20px;
}

#customers .btn{
	margin-top: 40px;
	background: rgb(220,220,220);
	color: rgb(130,130,130);
	vertical-align: middle;
	font-size: 16px;
}
#customers .btn:hover{
	color: rgb(220,220,220);
	background: rgb(130,130,130);
}

#customers .btn .material-icons{
	vertical-align: middle;
	font-size: 16px;
}

#team h2:after{
	content:'';
	display: block;
	background-color: rgb(255,255,255);
	margin: 10px auto 0 auto;
	width: 20px;
	height: 3px;
}

#team{
	background-color: rgb(84,209,84);
	color: #fff;
}

#team .img-box-round{
	width: 120px;
	height: 120px;
	border: 1px solid rgb(32,123,32);
}

