@import url('../style.css');

#header.page-produto{
	background-image: url("../../images/background-produto.jpg");
}

#funcionalidades .material-icons{
	margin-right: 20px;
	font-size: 60px;
	float: left;
	height: 200px;
}

#funcionalidades h3{
	margin-top: 0;
}

#download{
	background-color: #f9f6f1;
}

#download .btn{
	margin-top: -30px;
	font-size: 18px;
}