.btn:hover{
	background-color: rgb(84,180,84);	
}

.btn{
	color: #fff;
	display: inline-block;
	vertical-align: top;
	zoom: 1; /* Fix for IE7 */
	*display: inline; /* Fix for IE7 */
	background-color: rgb(84,209,84);
	padding: 10px 30px;
	border-radius: 30px;
	text-decoration: none;	
	transition: ease .5s all;
	cursor: pointer;
	border:none;
}

.btn.orange{
	background-color: #fed136;
}

.btn.orange:hover{
	background-color: black;
}