
body img,i{
	-webkit-touch-callout: none;
	 -webkit-user-select: none;
	 -khtml-user-select: none;
	 -moz-user-select: none;
	 -ms-user-select: none;
	 user-select: none;
}


.icon-container{
	display: inline-block;
	vertical-align: top;
	zoom: 1; /* Fix for IE7 */
	*display: inline; /* Fix for IE7 */
	width: 140px;
	height: 140px;
	background: #e1f3e1;
	border-radius: 30px;
	position: relative;
}

.icon-container .material-icons{
	display: block;
	font-size: 85px;
	color: rgb(84,209,84);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	cursor: default;
}

.img-box-round{
	display: inline-block;
	vertical-align: top;
	zoom: 1; /* Fix for IE7 */
	*display: inline; /* Fix for IE7 */
	border-radius: 100%;
	overflow: hidden;
}

.img-box-label:before{
	content: '';
	display: block;
	width: 50%;
	height: 60px;
	border-right: 2px solid rgb(32,123,32);
	background: transparent;
	margin-bottom: 10px;
}

.logo{
	padding-top: 5px;
}